ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
ul li a{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}

ul li a:hover{
    background-color: red;
    color: #fff;
}

.active{
    background-color: red;
    color: #fff;
}

.active a{
    background-color: red;
    color: #fff;
}